body {
  outline: none;
}
.input-check {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #ffffff;
  width: 100%;
  margin-top: 16px;
  /* border: 2px solid red; */
}
.strike {
  text-decoration: line-through;
}
.bg-container {
  background-image: url("/home/siva/TODO-APP-REACCT/react-todo/public/images/bg-desktop-light.jpg");
  background-position: bottom;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.main-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.itemTextValue{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-left: 12px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.todo-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  /* border: 2px solid blue; */
}
.heading {
  color: #ffffff;
}
.section-container{
  width: 40%;
}
.ulmain-container{
  width: 100%;
}
.ul-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.li-container{
  width:100%;
}
.label {
  width: 100%;
  /* border: 2px solid salmon; */
}
.status-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.sub-status-container{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid pink; */
  
}
.button{
  border: 0px;
  background-color: white;

}